{% extends "top.html"%}
{% block content %}<center>
      <h1 style="color:white;">Register</h1>
      <br><div class=form-group >
      <form action="" method="post"  enctype="multipart/form-data">
<div class="row">
          <div class="col-md-4 col-md-offset-4">
        <input class="form-control" style="border-radius:15px;" type="text" placeholder="Name" name="name" required="required" value="{{
          request.form.name }}"></div></div><br>
          <div class="row">
          <div class="col-md-4 col-md-offset-4">
          <input class="form-control" style="border-radius:15px;" type="text" placeholder="Username" name="username" required="required" value="{{
            request.form.username }}"></div></div><br>
            <div class="row">
                      <div class="col-md-4 col-md-offset-4">
            <input class="form-control" style="border-radius:15px;" type="email" placeholder="E-mail" name="email" required="required" value="{{
              request.form.email }}"></div></div><br>
              <div class="row">
                        <div class="col-md-4 col-md-offset-4">
              <input class="form-control" style="border-radius:15px;" type="date" placeholder="Date of Birth" name="dob" required="required" value="{{
                request.form.dob }}"></div></div><br>
                <div class="row">
                          <div class="col-md-4 col-md-offset-4">
         <input class="form-control" style="border-radius:15px;" type="password" placeholder="Password" name="password" required="required" value="{{
          request.form.password }}"></div></div><br>
          <div class="row">
                    <div class="col-md-4 col-md-offset-4">
          <input class="form-control" style="border-radius:15px; "type="password" placeholder="Confirm Password" name="cpassword" required="required" value="{{
           request.form.cpassword }}"></div></div><br>
           <div class="row">
                     <div class="col-md-2 col-md-offset-5">
        <input class="form-control btn-success" class="btn btn-success btn-default" style="border-radius:15px;" type="submit" value="Register"></div></div>
      </form>
  </div></center>
{% endblock%}
